<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" />
    <title>Main</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="container-fluid">
    <div class="row row-cols-2">
        <nav id="sidebarMenu" class="flex-shrink-0 p-3 text-white shadow" style="background:#323539;;width: 280px;">
            <div class="position-sticky pt-3">
                <ul class="list-unstyled ps-0" th:each="host : ${hostList}">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center text-white rounded collapsed" th:text="${host}" data-bs-toggle="collapse" th:data-bs-target="'#' + ${host}" aria-expanded="false"/>
                        <div class="collapse" th:id="${host}">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <div th:each="objName : ${hostMap.get(host)}">
                                    <li><a th:href="'/' + ${host} + '/' + ${objName}" class="link-dark text-white rounded" th:text="${objName}"></a></li>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main id="updateObject" class="ms-sm-auto col-lg-10 px-md-4">
            <div id="updatePart">
                <div class="flex-wrap pt-3 pb-2 mb-3 border-bottom">
                    <h2 th:text="${hostname} + ' (' + ${objectName} + ')'"/>
                </div>
                <div class="row row-cols-2">
                    <div class="table-responsive">
                        <h5>Input</h5>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th scope="col" style="font-size: x-small">Type</th>
                                <th scope="col" style="font-size: x-small">Comment</th>
                                <th scope="col" style="font-size: x-small">Attach sensor</th>
                                <th scope="col" style="font-size: x-small">Value</th>
                            </tr>
                            </thead>
                            <tbody th:each="sensor : ${inSensors}">
                            <tr>
                                <td th:text="${sensor.getValue().getIotype()}" style="font-size: x-small">
                                <td th:text="${sensor.getValue().getComment()}" style="font-size: x-small">
                                <td th:text="${sensor.getValue().getName()}" style="font-size: x-small">
                                <td th:text="${sensor.getValue().getValue()}" style="font-size: x-small; font-weight: bold">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <h5>Output</h5>
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th scope="col" style="font-size: x-small">Type</th>
                                <th scope="col" style="font-size: x-small">Comment</th>
                                <th scope="col" style="font-size: x-small">Attach sensor</th>
                                <th scope="col" style="font-size: x-small">Value</th>
                            </tr>
                            </thead>
                            <tbody th:each="sensor : ${outSensors}">
                            <tr>
                                <td th:text="${sensor.getValue().getIotype()}" style="font-size: x-small">
                                <td th:text="${sensor.getValue().getComment()}" style="font-size: x-small">
                                <td th:text="${sensor.getValue().getName()}" style="font-size: x-small">
                                <td th:text="${sensor.getValue().getValue()}" style="font-size: x-small; font-weight: bold">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive">
                <h5>Variables</h5>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="font-size: x-small">#</th>
                        <th scope="col" style="font-size: x-small">Name</th>
                        <th scope="col" style="font-size: x-small">Value</th>
                    </tr>
                    </thead>
                    <tbody th:each="v,iter : ${variables}">
                    <tr>
                        <td th:text="${iter.index}" style="font-size: x-small">
                        <td th:text="${v.getKey()}" style="font-size: x-small">
                        <td th:text="${v.getValue()}" style="font-size: x-small; font-weight: bold">
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </main>
    </div>
</div>


<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/

    const hostname = /*[[${hostname}]]*/ 'hostname';
    const objectName = /*[[${objectName}]]*/ 'objectName';
    if(objectName){
        setInterval(function (){
          $("#updateObject").load("/" + hostname +"/" + objectName + "/update");
        }, 1000);
    }

/*]]>*/
</script>

</body>
</html>
