<div th:fragment="navbar">
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Nodes</span>
                        <a class="link-secondary" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <div th:each="host,iter : ${hostList}">
                            <li class="nav-item">
                                <a class="nav-link" th:text="${iter.index + 1} + '. ' + ${host}" th:href="${host}"/>
                            </li>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>